.first-block {
    border-bottom: 1px solid #9F9F9F;
    padding-top: 80px;
}

.first-block__title {
    font-size: 100px;
    line-height: 1;
    margin-bottom: 55px;
    letter-spacing: -1px;
    margin-right: -170px;
}

.first-block__wrapper {
    padding-bottom: 38px;
    width: 885px;
    margin-left: auto;
}

.first-block__text {
    max-width: 702px;
}