@font-face {
    font-family: 'Helvetica Now Display';
    src: url('./../fonts/HelveticaNowDisplay-Regular.eot');
    src: local('Helvetica Now Display Regular'), local('HelveticaNowDisplay-Regular'),
        url('../fonts/HelveticaNowDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNowDisplay-Regular.woff2') format('woff2'),
        url('../fonts/HelveticaNowDisplay-Regular.woff') format('woff'),
        url('../fonts/HelveticaNowDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../fonts/HelveticaNowDisplay-Medium.eot');
    src: local('Helvetica Now Display Medium'), local('HelveticaNowDisplay-Medium'),
        url('../fonts/HelveticaNowDisplay-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNowDisplay-Medium.woff2') format('woff2'),
        url('../fonts/HelveticaNowDisplay-Medium.woff') format('woff'),
        url('../fonts/HelveticaNowDisplay-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../fonts/HelveticaNowDisplay-Bold.eot');
    src: local('../fonts/Helvetica Now Display Bold'), local('HelveticaNowDisplay-Bold'),
        url('../fonts/HelveticaNowDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNowDisplay-Bold.woff2') format('woff2'),
        url('../fonts/HelveticaNowDisplay-Bold.woff') format('woff'),
        url('../fonts/HelveticaNowDisplay-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

.mansalva {
    font-family: "Mansalva", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.helvetica {
    font-family: 'Helvetica Now Display';
    font-weight: 400;
    font-style: normal;
}

.helvetica-medium {
    font-family: 'Helvetica Now Display';
    font-weight: 500;
    font-style: normal;
}

.helvetica-bold {
    font-family: 'Helvetica Now Display';
    font-weight: bold;
    font-style: normal;
}