.photo-card {
    position: absolute;
}

.photo-card::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-image: url('../image/confiture1.png');
    width: 200px;
    height: 60px;
    z-index: 1;
}

.photo-card--left {
    left: 93px;
    bottom: -5%;
    transform: rotate(-15deg);
}

.photo-card--right {
    right: 90px;
    bottom: 0;
    transform: rotate(15deg);
}

.photo-card--right::after {
    width: 136px;
    height: 108px;
    background-image: url('../image/confiture2.png');
    margin-left: 40px;
    transform: translateX(-50%) translateY(-50%) rotate(-20deg);
}

.photo-card__image {
    width: 286px;
    height: 382px;
}

.photo-card__image img {
    height: 100%;
    max-width: 100%;
}

.photo-card__date {
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 16px;
    line-height: 1;
}

.photo-card--right .photo-card__image {
    width: 278px;
    height: 352px;
}